* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

a {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

a:hover {
    color: darkgrey;
}

#Header {
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    color: grey;
    font-family: Arial;
    padding-bottom: 5px;
}

h2 {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

#PluginTitle {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: grey;
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: -6px;
}

#PluginContainer {
    background-color: grey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

#PluginDescription {
    font-family: Arial;
    color: white;
    margin-bottom: -4px;
}

#PluginCode {
    font-family: Courier;
    color: black;
    background-color: white;
    white-space: pre-wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

footer {
    height: 20px;
}